body, html {
    height: 100%
}

hr {
    margin: auto;
    width: 40%;
}

.bgimg {
    background-image: url('http://eskipaper.com/images/high-resolution-backgrounds-4.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

/* top left logo/text */
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

/* message */
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

/* coming soon */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bottomright {
    position: absolute;
    bottom: 0;
    right:16px;
}

